
html, body {
	font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif; 
	padding: 0px; 
	margin: 0px; 
	color: #8a8a8a;
	height: 100%;
}
.selected {
    background-color: red;
}

a {
	color: #72B842;
}

a:hover {
	text-decoration: none;
}

p {
	color: #777;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

h1	{	
	font-size: 1.5em;
	color: #ffffff;
	background: #343537;
	padding: 10px 8px;
	float: left;
	}
	
h2	{ font-size: 24px; color: #333333; }

.clear	{ clear: both;}

.top	{
	position: fixed;
	z-index: 5000;
	background: #333536;
	width: 100%;
}

.logo img {
	border-radius: 5px;
	margin-left: 20px;
}

.mainMenu ul {
	float: right;
	padding-left: 0;
	margin-bottom: 0;
	line-height: 60px;
}
.mainMenu li {
	list-style-type: none;
	display: inline-block;
}
.mainMenu li a {
	display: block;
	text-transform: uppercase;
	color: #939393;
}

#top-menu {
    background: #333536;
}
#top-menu ul { float: right;}
#top-menu li {
    float: left;
	line-height: 60px;
	display: inline-block;
}

#top-menu a {
    display: block;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: white;
	font-weight:bold;
    text-decoration: none;
	font-size: 14px;
}

#top-menu a:focus {
   background-color:#363636;
}
#top-menu a:hover {
    color: #ffffff;
	background: #72b842;
}

#top-menu li.active a {
    color: #ffffff;
	background: #72b842;
	line-height: 60px;
	font-size: 14px;
}

/* CONTENT*/
.bodycolor {
	background-color: #e9e9e9;  /* culoare*/
	padding: 70px 0px;
	height:100%;    /* dimensiune scalata */
}
.setdimension {
  margin: 50px 0;
  display: block;
  overflow: hidden;
  width: 960px;
}



/* FOOTER */
.footer	{ 
	padding: 15px 0px; 
	width: 100%; 
	background: #333536;
	}
.footer .left { float: left;}
.footer .right { float: right;}
.footer .right fa { padding: 15px;}
.footer .right div.soc {
	/* margin-left:10px; */
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	background: #c6cfd3;
	color: #333536;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.footer .right a:hover div.soc{
	background: #72b842;
}

/* Responsive */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {
	.mainMenu li a {		
		font-size: 8px;
	}
	#top-menu {
		margin-left:10px;
	}
	#top-menu li a {		
		font-size: 11px;
	}
	#top-menu li a	{ padding: 0px;}
	#top-menu li.active a {
    color: #ffffff;
	background: #72b842;
	font-size: 8px;
	}

	.login_container {
		width:100%;
	}

	.footer  span.left	{ width: 70%; margin-left: 10px;}
	.footer  span.right { width: 70%; float: left; margin: 10px;}
	
	.logo img {
	border-radius: 5px;
	margin-left: 20px;
	width:50%;
}
}

@media(max-width:767px){
	.logo {
		text-align: center;
	}
	.socials ul {
		float: none;
		text-align: center;
	}
	.mainMenu ul {
		float: none;
		text-align: center;
		line-height: 40px;
	}
	.mainMenu li a {
	padding: 8px 7px;

	}
	#top-menu ul {
		float: none;
		text-align: center;
		line-height: 40px;
		margin-left: 15px;
	}
	#top-menu li {
    float: left;
	line-height: 40px;
}
	#top-menu li a {
	padding: 8px 7px;

	}
	#top-menu li.active a {
    color: #ffffff;
	background: #72b842;
	line-height: 40px;
	}
}

@media(min-width:768px){
	
   .socials ul {
    float: none;
    text-align: center;
  }