<div class="container">
        	<div class="row">
            	<div class="left">
                	<span>Copyright © 2016 <a href="#">Bogdan Adam</a>
                </div>
                <div class="right">
                	
                    <a href="#"><div class="fa fa-twitter soc"></div></a>
                    <a href="#"><div class="fa fa-linkedin soc"></div></a>
                  
                    <a href="#"><div class="fa fa-facebook soc"></div></a>
                </div>
            </div>
        </div>